.data-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
}

.data-item:last-child {
  margin-bottom: 20px;
}

.not-completed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-complete,
.btn-delete,
.btn-edit,
.btn-new {
  border: 1px solid black;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  padding-top: 5px;
}

.btn-complete,
.btn-delete,
.btn-edit {
  margin-right: 2px;
}

.btn-container {
  display: flex;
}

.btn-container button {
  margin-right: 10px;
  cursor: pointer;
}
